body {
    padding: 5%;
    /* text-align: center; */
}


img {
    display: block;
    margin: auto;
    max-width: 50%;
}

#h1-block {
    background-color: #ffffff;
    box-shadow: 0px 60px 40px #ffffff;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 15px;
    position: sticky;
    top: 00px;
    text-align: center;
}

.author-info {
    font-family: 'Labrada', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    padding: 10%;
    text-align: center;
}

hr {
    color: #ffffff;
    rotate: 90deg;
    position: relative;
    width: 100px;
    z-index: -1;
}

#story-copy {
    font-family: 'Labrada', serif;
    font-size: 20px;
    padding: 10% 20% 10% 20%;
}

.isolated-letter {
    font-family: "Consolas", monospace;
    padding: 10px;
}

.body-break {
    padding: 20%
}

#end {
    font-family: "Nothing You Could Do", cursive;
    font-size: 40px;
    padding: 5%;
    text-align: center;
}

/* RESPONSIVE STYLES */

@media all and (max-width: 1290px) {

    #h1-block {
        box-shadow: 5em 5em 30px #ffffff,
            -5em 5em 30px #ffffff;
        font-size: 12px;
    }

    .author-info {
        margin-bottom: 50px;
    }

    img {
        min-width: 100%;
    }

    #story-copy {
        margin: 100px 0 100px 0;
        padding: 0;
    }

    #end {
        font-size: 30px;
        margin-top: 75px;
    }
}

